{% extends "base.html" %}

{% block content %}
    <legend align="center">Форма восстановления пароля</legend>

    <form method="POST" action="{% url 'company-reset-password' %}">
        {% csrf_token %}
        <table  align="center" style="width:90%">
            <tbody>
                {{ form.as_table }}
                <tr>
                    <td class="first"></td>
                    <p>Номер телефона</p>
                    <td>
                        <input class="btn btn-success" type="submit" name="order" value="Отправить СМС">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}