<p>Здравствуйте!</p>

<br />

<p>Вы успешно зарегистрировались на сайте ООО "Сетевая компания"  <a href="http://sk-samara.com/">sk-samara.com</a></p>
<p>Для завершения регистрации, пожалуйста, перейдите по данной ссылке: <a href="http://sk-samara.com/{% url 'registration-confirm' key %}">http://sk-samara.com{% url 'registration-confirm' key %}</a> .Если вы не сделаете этого в течение месяца с момента прохождения регистрации, то Вам будет необходимо пройти регистрацию повторно.</p>

<p>Системой был сгенерирован пароль для Вашей учетной записи:<br/>
{{ password }}
</p>

<p>Если данное сообщение прислано Вам ошибочно, приносим свои извинения, и просим его игнорировать. Данное сообщение сформировано автоматически и отвечать на него не нужно.</p>

<br />


<p>--</p>
<p>C уважением,</p>
<p>Администрация ООО "Сетевая компания"</p>
